body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #58a563;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}
.center {
    line-height: 50px;
    height: 50px;
    width: 100%;
    border: 1px solid #58a563;
}

.selectTF {
    outline: none;
    background-color: transparent;
    appearance: none;
    border-color: black;
    width: 20px;
    text-align: center;
}
.selectValidity {
    outline: none;
    background-color: transparent;
    appearance: none;
    border-color: black;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.tablecenterheadCSS th{
    text-align:center;
}

.tablecenterCSS td{
    text-align:center;
    height: 30px;
 }

 .dropdowntable td{
    text-align:center;
    height: 30px;
    padding-bottom: 6.5px;
    padding-top: 6.5px;
 }

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.opacity-50 { opacity: .5; }
.opacity-75 { opacity: .75; }

.list-group {
    width: auto;
    max-width: 460px;

}

.form-check-input:checked + .form-checked-content {
    opacity: .5;
}

.form-check-input-placeholder {
    pointer-events: none;
    border-style: dashed;
}
[contenteditable]:focus {
    outline: 0;
}

.list-group-checkable {
    display: grid;
    gap: .5rem;
    border: 0;
}
.list-group-checkable .list-group-item {
    cursor: pointer;
    border-radius: .5rem;
}
.list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.list-group-item-check:hover + .list-group-item {
    background-color: var(--bs-light);
}
.list-group-item-check:checked + .list-group-item {
    color: #fff;
    background-color: var(--bs-blue);
}
.list-group-item-check[disabled] + .list-group-item,
.list-group-item-check:disabled + .list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
}

