<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
    <script type="text/javascript">
        function validateForm() {
            let x = document.forms["questionForm"]["chap"].value;
            let y = document.forms["questionForm"]["ques"].value;
            if( x == "" ) {
                alert( "Please provide your name!" );
                return false;
            }
            if( y == "" ) {
                alert( "Please provide your Email!" );
                return false;
            }
        }
    </script>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- NavBar -->
<div th:replace="fragments :: menu"></div>
<h1>Add a new question</h1>                                                           <!-- this is missing -->
<form name="questionForm" action="#" th:action="@{/admin}" th:object="${question}" method="post">
<!--    <p>chapter as number: <input type="text" th:field="*{chapter}" /></p>-->
    <div class="center-questions">
<!--        <div class="row justify-content-md-around gy-0 g-0">-->
<!--            <div class="col-md-auto"></div>-->
<!--            <div class="col-md-auto"><p style="font-size:11px;font-family:verdana;color:gray">&nbsp &nbsp Must be a digit(s) - Ex. 12</p></div>-->
<!--            <div class="col-md-auto"></div>-->
<!--            <div class="col-md-auto"></div>-->
<!--        </div>-->
        <div class="row justify-content-md-center gy-0">
            <div class="col-md-auto">
                <p>Chapter:</p>
            </div>
            <div class="col-md-auto">
                <div class="dropdown">
                    <input type="number" list="chapters" class="form-control1" placeholder="Must be a digit(s)" id="nameinput" name="chap" onsubmit="return validateForm()" th:field="${question.chapter}">  </input>
                    <datalist id="chapters">
                        <option th:each="row : ${chapters}" th:value="${row}" th:label="${row}">
                    </datalist>
                </div>
            </div>
            <div class="col-md-auto">
                <p>Question: <input type="text" th:field="*{question}" /></p>
            </div>
            <div class="col-md-auto">
                <p><input type="submit" name="ques" value="Submit" onsubmit="return validateForm()" /> <input type="reset" value="Reset" /></p>
            </div>
        </div>
    </div>
</form>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>