<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: html_head"></head>
<body class="d-flex flex-column min-vh-100">
<!-- NavBar -->
<div th:replace="fragments :: menu"></div>
<h1>Add a new question</h1>
<form action="#" th:action="@{/admin}" th:object="${question}" method="post">
<!--    <p>chapter as number: <input type="text" th:field="*{chapter}" /></p>-->
    <div class="center-questions">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <p>Chapter:</p>
            </div>
            <div class="col-md-auto">
                <div class="dropdown">
                    <input list="chapters" class="form-control1" id="nameinput" name="chap"  th:field="${question.chapter}">  </input>
                    <datalist id="chapters">
                        <option th:each="row : ${chapters}" th:value="${row}" th:label="${row}">
                    </datalist>
                </div>
            </div>
            <div class="col-md-auto">
                <p>Question: <input type="text" th:field="*{question}" /></p>
            </div>
            <div class="col-md-auto">
                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </div>
        </div>
    </div>
</form>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>