<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:fragment="html_head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
    <link th:href="@{/styles/cssandjs/bootstrap.min.css}" rel="stylesheet">
    <script type="text/javascript">
        function validate() {

            var user = document.getElementById("question").value;
            var user2 = document.getElementById("question");
            var re = /([A-Za-u]{2,})|([w-z]{2,})|([\||\-|\>|\<|\*|\^]{2,})|(\|)|(!)/;
            var re2 = /(^\||^v|^\-|^\>|^\<|^\^|^\*)/;
            var re3 = /(\|$|v$|\-$|\>$|\<$|\^$|\*$)/;
            if (!re.test(user) && !re2.test(user) && !re3.test(user)) {
                return true;
            }
            else {
                user2.style.border = "red solid 3px";
                alert("Submitted question does not follow proper format.");
                return false;
            }
        }
    </script>
    <title th:text="${pageTitle}"></title>
</head>
<body>
    <div th:fragment="menu">
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="/truth-tables">Interactive Truth Table</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="/truth-tables">Home</a>
                        </div>
                        <div class="mx-auto order-0">
                            <a class="navbar-brand mx-auto"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav ml-auto">
                            <th:block th:if="${pageTitle != null}">
                            <div class="chapter dropdown">
                                <select class="form-control" onchange="window.location = 'http://' + window.location.hostname + ':8080/truth-tables/chapter/' + this.value;"  id="dropOperator1">
                                    <option value="0">Go To Chapter</option>
                                    <option th:each="chapter : ${chapters}" th:value=" ${chapter}" th:text="${chapter}"></option>
                                </select>
                            </div>
                            </th:block>
                                <a sec:authorize="isAnonymous()" class="nav-item nav-link" href="/truth-tables/admin">Login</a>
                                <a sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/truth-tables/manage">Manage Questions</a>
                                <a sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/truth-tables/admin">Add Questions</a>
                                <a sec:authorize="isAuthenticated()" class="nav-item nav-link" href="/truth-tables/logout"  >Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
        <footer class="mt-auto" th:fragment="footer">
            <p class="mb-1">Interactive Truth Table 2022</p>
        </footer>
</body>
</html>