<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: html_head"></head>

<body class="d-flex flex-column min-vh-100 bg-light">

<!-- NavBar -->
<div th:replace="fragments :: menu"></div>

<div class="position-relative overflow-hidden p-6 p-lg-5 m-lg-3 text-center bg-light">
    <div class="col-md-7 p-lg-5 mx-auto my-6">
        <h1 class="display-4 fw-normal" >Boise State University</h1>
        <h2 class="display-4 fw-normal" style="margin-Bottom: 50px">Interactive Truth Table</h2>
        <p class="lead fw-normal">This tool exists to allow students to enter propositional logic formulas with the ability to actively test
            and evaluate their formula's truth tables. Additionally, students of Dr. Cortens will have the ability to access and practice
            questions created in chapters. To enter a propositional formula use upper case letters (A, B, C, etc) and the included
            operators below (ex. C v (~A > D)). For more information on problem types and bug reports you can navigate to our help page</p>

        <div class="container" style="margin-top: 50px">
            <div class="row justify-content-md-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h3>Operators</h3>
                    </div>
                    <div class="col">
                        <div class="container-sm">
                            <div class="row">
                                <div class="col" style="border-bottom: 2px solid black">
                                    ^
                                </div>
                                <div class="col" style="border-bottom: 2px solid black">
                                    v
                                </div>
                                <div class="col" style="border-bottom: 2px solid black">
                                    ::
                                </div>
                                <div class="col" style="border-bottom: 2px solid black">
                                    ~
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    and
                                </div>
                                <div class="col">
                                    or
                                </div>
                                <div class="col">
                                    if then
                                </div>
                                <div class="col">
                                    not
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto">
                    <p></p>
                    <form action="#" th:action="@{/}" th:object="${question}" method="post">
                        <p>Enter a question: <input type="text" id="question" th:field="*{question}" /> <input type="submit" onclick="return validate()" value="Submit" /> </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<footer th:replace="fragments :: footer"></footer>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>