<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: html_head"></head>

<body class="d-flex flex-column min-vh-100">

<!-- NavBar -->
<div th:replace="fragments :: menu"></div>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Student View-Main Page</h1>
            <h2 class="fw-light" style="border: 2px solid black">We could place a banner here</h2>
            <h3 class="fw-light" style="border: 2px solid black">Up to y'all though</h3>
        </div>
    </div>
</section>

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col">
            <div class="col" style="border: 2px solid black">
                <h3>Operators</h3>
                <div class="container-sm" style="border-bottom: 2px solid black">
                    <p>|, ->, <-, v, ^, *</p>
                </div>
            </div>

        </div>
        <div class="col-6">
            <p></p>
            <p class="lead text-muted"> Replace me </p>
            <form action="#" th:action="@{/}" th:object="${question}" method="post">
                <p>Enter a question: <input type="text" id="question" th:field="*{question}" /> <input type="submit" onclick="return validate()" value="Submit" /> <input type="reset" value="Reset"/></p>

            </form>
        </div>

        <div class="col" style="border: 2px solid black">
            <h3>Chapter Questions</h3>
            <th:block th:each="chap : ${chapters}">
                <div class="container-sm" style="border-bottom: 2px solid black">
                    <a th:href="@{'/chapter-questions/'+${chap}}" th:text="'Chapter ' + ${chap}"></a>
                </div>
            </th:block>
        </div>
    </div>
</section>

<footer th:replace="fragments :: footer"></footer>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>