<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments :: html_head">
    <title>Sign in</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <div th:replace="fragments :: menu"></div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div class="main">
        <p class="sign" align="center">Sign in</p>
        <form th:action="@{/login}" method="post" class="form1">
            <input class="un" type="text" align="center" name="username" placeholder="Username">
            <input class="pass" type="password" name="password" align="center" placeholder="Password">
            <div class="loginerror" th:if="${param.error}">
                Invalid username and password.
            </div>
            <div style="padding-top: 30px;"><input class="submit" type="submit" value="Sign In" /></div>
        </form>
    </div>
</body>
<footer th:replace="fragments :: footer"></footer>

</html>